<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Lights library</mat-card-title>
    </mat-card-header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-hidden="false" matTooltip="New light set" (click)="onNew()">
          <mat-icon>fiber_new</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Clone light set" (click)="onClone()" [disabled]="!Lights">
          <mat-icon>copy_all</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Delete light set" (click)="onDelete()" [disabled]="deleteDisabled">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Save light set" (click)="onSave()" [disabled]="deleteDisabled">
            <mat-icon>file_download</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Load light set" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Remove all light sets in the library" (click)="onClear()" [disabled]="deleteDisabled">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Library name</mat-label>
                    <input [(ngModel)]="Library.name" matInput placeholder="Enter library name">
                </mat-form-field>
            </div>
        </div>
        <ng-container *ngIf="Lights">
            <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Select lights to edit</mat-label>
                    <mat-select [(ngModel)]= "Lights"
                    (selectionChange)="onSelectionChange($event)"
                    >
                        <mat-option *ngFor="let light of Library.lights" [value]="light">{{light.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Lights name</mat-label>
                    <input [(ngModel)]="Lights.name" matInput placeholder="Enter lights name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-light-editor #LightEditor [Light]="Light"
                (changedLight) = onLightChanged($event);
                ></app-light-editor>
            </div>
        </div>
        </ng-container>
    </mat-card-content>
    <input
    style="display: none"
    type="file" (input)="onImport($event)"
    accept=".ltslib"
    #fileInput> 
</mat-card>
    
