<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Light editor</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button color="primary" 
        type="button"
        (click)="onNew()"
        >New</button>
        <button mat-raised-button color="primary" 
        type="button"
        (click)="onSave()"
        >Save</button>
        <button mat-raised-button color="primary" 
        type="button"
        (click)="onSaveAll()"
        >Save All</button>
    </mat-card-actions>
</mat-card>
