<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Light editor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Select light to edit</mat-label>
                <mat-select [(value)]= "light">
                    <mat-option *ngFor="let light of lights" [value]="light">{{light.name}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="light.type == 'AmbientLight'" class="row">
            <div class="col">
                <app-ambient-light-editor></app-ambient-light-editor>
            </div>
        </div>
        <div *ngIf="light.type == 'DirectionalLight'" class="row">
            <div class="col">
                <app-directional-light-editor></app-directional-light-editor>
            </div>
        </div>
        <div *ngIf="light.type == 'HemisphereLight'" class="row">
            <div class="col">
                <app-hemisphere-light-editor></app-hemisphere-light-editor>
            </div>
        </div>
        <div *ngIf="light.type == 'PointLight'" class="row">
            <div class="col">
                <app-point-light-editor></app-point-light-editor>
            </div>
        </div>
        <div *ngIf="light.type == 'RectAreaLight'" class="row">
            <div class="col">
                <app-rectarea-light-editor></app-rectarea-light-editor>
            </div>
        </div>
        <div *ngIf="light.type == 'SpotLight'" class="row">
            <div class="col">
                <app-spot-light-editor></app-spot-light-editor>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <app-new-light
                 (newLight) = "onNewLight($event)"
              ></app-new-light>
           </div>
        </div>
    </mat-card-content>
</mat-card>
