<mat-label class="label">{{Label}}</mat-label>
<mat-grid-list cols="6" rowHeight="55px">
    <mat-grid-tile colspan=1>
        <mat-form-field class="full-width">
            <input matInput placeholder="X" width=4 type="number"
            [(ngModel)] = "X"
            [disabled] = "!enableX"
            (input) = "onChange()"
            >
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
        <mat-checkbox [(ngModel)]="enableX"></mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
        <mat-form-field class="full-width">
            <input matInput placeholder="Y" width=4 type="number"
            [(ngModel)] = "Y"
            [disabled] = "!enableY"
            (input) = "onChange()"
             >
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
        <mat-checkbox [(ngModel)]="enableY"></mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
        <mat-form-field class="full-width">
            <input matInput placeholder="Z" width=4 type="number"
            [(ngModel)] = "Z"
            [disabled] = "!enableZ"
            (input) = "onChange()"
             >
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
        <mat-checkbox [(ngModel)]="enableZ"></mat-checkbox>
    </mat-grid-tile>
</mat-grid-list>
