<mat-card>
  <mat-card-header>
      <mat-card-title>Material editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <ng-container *ngIf="Materials.materials.length > 0">
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <mat-label>Select material to edit</mat-label>
                      <mat-select [(ngModel)]= "Material"
                      (selectionChange)="onSelectionChange($event)"
                      >
                          <mat-option *ngFor="let material of Materials.materials" [value]="material">{{material.name}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <mat-label>Material name ({{Material.type}})</mat-label>
                      <input [(ngModel)]="Material.name" matInput placeholder="Enter material name">
                  </mat-form-field>
              </div>
          </div>
          <div *ngIf="Material.type == materialType.MESH_BASIC" class="row">
            <div class="col">
                <app-mesh-basic-material-editor
                [Material]="Material"
                (materialChange)="onMaterialChanged($event)"
                ></app-mesh-basic-material-editor>
            </div>
          </div>
          <div *ngIf="Material.type == materialType.MESH_DEPTH" class="row">
            <div class="col">
                <app-mesh-depth-material-editor
                [Material]="Material"
                (materialChange)="onMaterialChanged($event)"
                ></app-mesh-depth-material-editor>
            </div>
          </div>
          <div *ngIf="Material.type == materialType.MESH_LAMBERT" class="row">
            <div class="col">
                <app-mesh-lambert-material-editor
                [Material]="Material"
                (materialChange)="onMaterialChanged($event)"
                ></app-mesh-lambert-material-editor>
            </div>
          </div>
          <div *ngIf="Material.type == materialType.MESH_STANDARD" class="row">
              <div class="col">
                  <app-mesh-standard-material-editor
                  [Material]="Material"
                  (materialChange)="onMaterialChanged($event)"
                  ></app-mesh-standard-material-editor>
              </div>
          </div>
          <div *ngIf="Material.type == materialType.MESH_PHYSICAL" class="row">
            <div class="col">
                <app-mesh-standard-material-editor
                [Material]="Material"
                (materialChange)="onMaterialChanged($event)"
                [physical]="true"
                ></app-mesh-standard-material-editor>
            </div>
        </div>
        <div *ngIf="Material.type == materialType.MESH_PHONG" class="row">
            <div class="col">
                <app-mesh-phong-material-editor
                [Material]="Material"
                (materialChange)="onMaterialChanged($event)"
                ></app-mesh-phong-material-editor>
            </div>
          </div>
      </ng-container>
      <div class="row">
          <div class="col">
            <app-new-material
               (newMaterial) = "onNewMaterial($event)"
            ></app-new-material>
         </div>
      </div>
      <div class="row">
          <div class="col">
              <button mat-raised-button color="primary" 
              type="button"
              (click)="onDelete()"
              [disabled]="!Materials.materials.length"
              >Delete material</button>                   
              <button mat-raised-button color="primary" 
              type="button"
              (click)="onCopy()"
              [disabled] = "!Materials.materials.length"
              >Copy</button>                   
              <button mat-raised-button color="primary" 
              type="button"
              (click)="onPaste()"
              [disabled] = "!materialCopy"
              >Paste</button>                   
        </div>
      </div>
  </mat-card-content>
</mat-card>
