<mat-card>
  <mat-card-header>
      <mat-card-title>Material editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <ng-container *ngIf="Materials.materials.length > 0">
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <mat-label>Select material to edit</mat-label>
                      <mat-select [(ngModel)]= "Material"
                      (selectionChange)="onSelectionChange($event)"
                      >
                          <mat-option *ngFor="let material of Materials.materials" [value]="material">{{material.name}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <mat-label>Material name</mat-label>
                      <input [(ngModel)]="Material.name" matInput placeholder="Enter material name">
                  </mat-form-field>
              </div>
          </div>
          <!-- <div *ngIf="Material.type == materialType.AMBIENT" class="row">
              <div class="col">
                  <app-ambient-material-editor
                  [Material]="Material"
                  (materialChange)="onMaterialChanged($event)"
                  ></app-ambient-material-editor>
              </div>
          </div> -->
      </ng-container>
      <div class="row">
          <div class="col">
            <app-new-material
               (newMaterial) = "onNewMaterial($event)"
            ></app-new-material>
         </div>
      </div>
      <div *ngIf="Materials.materials.length > 0" class="row">
          <div class="col">
              <button mat-raised-button color="primary" 
              type="button"
              (click)="onDelete()"
              >Delete material</button>                   
          </div>
      </div>
  </mat-card-content>
</mat-card>
