<div *ngIf="Material" class="row">
    <div class="col">
        <mat-checkbox
        [(checked)]="Material.transparent"
        (change) = "onTransparentChange($event)"
        >
        Transparent
        </mat-checkbox>
    </div>
</div>
<div *ngIf="Material && Material.transparent" class="row">
    <div class="col label">
        Opacity {{Material.opacity}}
        <mat-slider min="0" max="1" step="0.01"
        (input)="onOpacityChanged($event)"
        [(value)]="Material.opacity"
        ></mat-slider>
    </div>
</div>
<div *ngIf="Material" class="row">
    <div class="col">
        <mat-checkbox
        [(checked)]="Material.visible"
        (change) = "onVisibleChange($event)"
        >
        Visible
        </mat-checkbox>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="full-width">
        <mat-label>Select material side</mat-label>
        <mat-select [(value)]="Material.side"
        (selectionChange)="onSideChange($event)"
        >
            <mat-option *ngFor="let type of sideTypes" [value]="type.type">{{type.name}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>
</div>
