<div *ngIf="Light" class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Light.colour"
        [value] = "this.Light.colour"
        [style.background]="this.Light.colour"
        [cpPosition] = "'bottom'"
        [(colorPicker)]="this.Light.colour"
        (colorPickerChange)="onColourChanged($event)"
        >
      </mat-form-field>
    </div>
</div>
<div *ngIf="Light" class="row">
      <app-point3-d
      Label='Position'
      ></app-point3-d
        >
</div>
