<div *ngIf="Material" class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Material colour"
        cpAlphaChannel="disabled"
        [value] = "this.Material.colour"
        [style.background]="this.Material.colour"
        [cpPosition] = "'bottom'"
        [(colorPicker)]="this.Material.colour"
        (colorPickerChange)="onColourChanged($event)"
        >
      </mat-form-field>
    </div>
</div>
<div *ngIf="Material" class="row">
    <div class="col">
    <mat-form-field class="full-width">
        <input matInput placeholder="Emissive colour"
        cpAlphaChannel="disabled"
        [value] = "this.Material.emissive"
        [style.background]="this.Material.emissive"
        [cpPosition] = "'bottom'"
        [(colorPicker)]="this.Material.emissive"
        (colorPickerChange)="onColourChanged($event)"
        >
    </mat-form-field>
    </div>
</div>
