<mat-card class="shipping-card">
    <mat-card-content>
    </mat-card-content>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="onNewScene()" matToolTip="New empty scene.">
            <mat-icon>fiber_new</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="onAddToScene()" *ngIf="false">Add to Scene</button>
        <button mat-icon-button class="example-icon" (click)="onUpdateScene()" matToolTip="Fit to view">
            <mat-icon>fit_screen</mat-icon>
        </button>
    </mat-toolbar>
</mat-card>
