<div [style.width.px]="Width" [style.height]="'100%'" (resized)="onResized($event)">
    <as-split direction="horizontal">
        <as-split-area size="80">
            <ngx-file-drop 
            [dropZoneClassName]="'scene-dropzone-content'"
            [contentClassName]="'scene-dropzone-content'"
                (onFileDrop)="dropped($event)" 
                (onFileOver)="fileOver($event)" 
                (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <app-scene-view #ThreeJSView [AreaWidth]="Width" [AreaHeight]="Height"></app-scene-view>
                </ng-template>
            </ngx-file-drop>
        </as-split-area>
        <as-split-area size="20">
            <app-lights-library-editor *ngIf="false"></app-lights-library-editor>
            <app-material-editor
            (materialChange)="onMaterialChange($event)"
            ></app-material-editor>
            <app-scene (onSceneChanged)="onSceneChange($event)"></app-scene>
        </as-split-area>
    </as-split>
</div>
