<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Materials library</mat-card-title>
    </mat-card-header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-hidden="false" matTooltip="New material set" (click)="onNew()">
          <mat-icon>fiber_new</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Clone material set" (click)="onClone()" [disabled]="!Materials">
          <mat-icon>copy_all</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Delete material set" (click)="onDelete()" [disabled]="deleteDisabled">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Save material set" (click)="onSave()">
            <mat-icon>file_download</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Load material set" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Remove all material sets in the library" (click)="onClear()" [disabled]="deleteDisabled">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" matTooltip="Import materials from scene" (click)="onGetFromScene()">
            <mat-icon>collections</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Library name</mat-label>
                    <input [(ngModel)]="Library.name" matInput placeholder="Enter library name">
                </mat-form-field>
            </div>
        </div>
        <ng-container *ngIf="Materials">
            <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Select materials to edit</mat-label>
                    <mat-select [(ngModel)]= "Materials"
                    (selectionChange)="onSelectionChange($event)"
                    >
                        <mat-option *ngFor="let material of Library.materials" [value]="material">{{material.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Materials name</mat-label>
                    <input [(ngModel)]="Materials.name" matInput placeholder="Enter materials name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
        <mat-checkbox
        [(checked)]="assignMaterial"
        (change) = "onAssignMaterialChange($event)"
        >
        Assign current material
        </mat-checkbox>
        </div>
        <div class="row">
            <div class="col">
                <app-material-preview #MaterialPreview [Material]="Material"
                ></app-material-preview>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-material-editor #MaterialEditor [Material]="Material"
                (changedMaterial) = "onMaterialChanged($event)"
                (newMaterial) = "onNewMaterial($event)"
                ></app-material-editor>
            </div>
        </div>
        </ng-container>
    </mat-card-content>
    <input
    style="display: none"
    type="file" (input)="onImport($event)"
    accept=".matlib"
    #fileInput>
</mat-card>
    
